body {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}

.app {
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
}

.form-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.radio-container {
  margin: 20px;
}

.radio-container input[type="radio"] {
  display: none;
}

.radio-container label {
  position: relative;
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 2em;
  border: 2px solid #000;
  border-radius: 10px;
  padding: 0.2em 0.5em;
  cursor: pointer;
}

input[type="radio"]:checked + label {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  color: #fff;
  transition: all 0.5s ease;
}

.inputs-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 3em;
}

.inputs-container label {
  font-size: 1.5em;
  margin-bottom: 0.5em;
  margin-top: 1.5em;
}

.inputs-container input {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  color: #fff;
  transition: all 0.5s ease;
  border-radius: 5px;
  font-size: 1.5em;
  padding: 0.1em;
  width: 100%;
  text-align: center;
}

.inputs-container input:enabled {
  outline: none;
}

.inputs-container input:active {
  transform: scale(150%);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }